body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    font-size: 13px;
    margin: 0px auto auto auto;
    color: #554433;
    padding: 25px;
}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
}

h2 {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

/* Basic */
#left, #right {
    float: left;
    width: 300px;
    display: inline;
}

/* jQuery Simple Select Menu */
div.select-multiple-container {
    height: 130px;
    overflow: scroll;
    border: 1px solid #ccc;
    padding: 5px 8px;
}
div.select-multiple-column {
    float: left;
    width: 190px;
    margin: 0;
}
.select-multiple-opt input {
    display: inline;
    position: relative;
    top: 3px;
}
.select-multiple-opt label, .select-multiple-opt input {
    display: inline;
}
div.select-multiple-opt {
    width: 190px;
    margin: 5px 0;
}
.select-multiple-opt label {
    padding: 3px;
}
